<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  >
        <img src="assets/images/favicon0.png" >
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" [routerLink]="['/notifications-vendeur']"></ion-icon>
      <span class="notif">4</span>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
    <ion-title>Xdrink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="!en_livraison" class="content">
    <div class="card">
      <ion-slides pager="true" [options]="slideOptsPub">
       
        <ion-slide>
          <img src="assets/images/photo@2x.png" >
        </ion-slide>
        <ion-slide>
          <img src="assets/images/photo@2x.png" >
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  

  <div *ngIf="en_livraison" class="container">
    <div class="head">
      <h4>Commande # {{numero_cmd}}
        <span><br><br> Code</span>
      </h4>
       <span class="code">{{codeSecret}}</span> 
    </div>
    <div class="detail">
      <ion-list>
        <ion-item>
          <ion-label class="grey"><ion-icon name="time"></ion-icon>Horaire :</ion-label>
          <ion-label slot="end" class="black"> {{date_heure}}, <br> 15H00</ion-label>
        </ion-item>
        <ion-item>
          <ion-label slot="start">
            <p class="grey"><ion-icon name="map-outline"></ion-icon>Adresse vendeur :</p>
            <p class="black">{{localisation_detail1}},<br> {{localisation_detail2}}</p>
          </ion-label>
          <ion-label slot="end">
            <ion-icon name="locate"></ion-icon>
            <ion-icon name="call"></ion-icon>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label slot="start">
            <p class="grey"><ion-icon name="pin"></ion-icon>Lieu de livraison :</p>
            <p class="black">{{detail1_client}},<br> {{detail2_client}}</p>
          </ion-label>
          <ion-label slot="end">
            <ion-icon name="locate"></ion-icon>
            <ion-icon (click) = 'call()' class="call" name="call"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button (click)="presentAlert()" >Accepter la livraison</ion-button>
    </div>

  </div>
</ion-content>
