

<ion-content>
  <div *ngFor="let item of modifier_stock" >
    <div class="content" style="padding: 20px;" >
      <div style="text-align: end;" >
        <span (click)="dissmiss()" >X</span>
      </div>
      <strong class="title" > {{item.name}} </strong><div class="list">
        
        <br>
        <div  class="detail">
          <div style="margin-left: 20px;" >
            {{visual}} <br>
            <div class="product-name">
                <span class="buttons">
                  <strong *ngIf="inputQty == false" (click)="inputQty = true" [(ngModel)]="dataStock.qty"> {{item.qty? item.qty:0}} </strong>
                  <ion-input type="number" (input)="inputChange($event.target.value, item)"  [(ngModel)]="dataStock2.qty" *ngIf="inputQty==true" > </ion-input>

                </span>
              </div></div>
         
  
          <ion-row>
            <ion-col size="5">
              <ion-item lines="none">
                <ion-label position="floating">Prix unitaire</ion-label>
                <ion-input [(ngModel)]="dataStock1.prix_unitaire" type="tel" placeholder="entrez votre prix"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="7">
              <ion-item lines="none">
                <ion-label position="floating">Unité</ion-label>
                <ion-select [(ngModel)]="dataStock3.unite" >
                  <ion-select-option value='casier' >Casier</ion-select-option>
                  <ion-select-option value='canette'>Canette</ion-select-option>
                  <ion-select-option value='autre'>Autres</ion-select-option>
  
  
                </ion-select>
              </ion-item>
  
              <!-- <ion-item lines="none">
                <ion-label>Date de livraison</ion-label>
                <ion-datetime displayFormat="MM DD YY"></ion-datetime>
              </ion-item> -->
            </ion-col>
           
          </ion-row>
        </div>
        
      </div>
  
  
    </div>
  
    
    <br>
    <div class="footer-btn" >
      <ion-button class="outline-btn gradient-btn" expand="block" (click)="valider('')" >Valider</ion-button>
    </div>
  </div>
</ion-content>
