<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button  >
        <img src="../../assets/images/favicon0.png" >
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Rechercher un produit" ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" ></ion-icon>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-segment scrollable >
      <ion-segment-button *ngFor="let item of categories" [value]="item">
        <ion-label>{{item}}</ion-label>
      </ion-segment-button>
      
    </ion-segment>

    <div class="list">
      <ion-grid>
        <ion-row >
          <ion-col size="6" *ngFor="let item of articles">
            <div (click)="select(item)" class="product-card"  >
              <div class="image-btn">
                <span *ngIf="isSelected(item)" class="selected"> 
                  <ion-icon name="checkmark-sharp"></ion-icon>
                </span>
                <span (click) = "mod(item)"  class="prix" ><input *ngIf="val == 'oui'" type="text">  {{item.amount}} </span>
                <img [src] ="item.img" alt="" srcset="">
              </div>
              <div class="name-icon">
                <span class="product-name"> {{item.name}} </span> <ion-icon name="bag-handle-outline" ></ion-icon>
                <strong class="product-name"> {{item.qty}} </strong> 
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="gradient-btn" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <div class="list-option">
          <div (click)="vente_hors_ligne()" class="option">
            <ion-icon name="log-out-outline"></ion-icon>
            <span>Enregistrer vente hors ligne</span>
          </div>
          <div (click)="achat_hors_ligne()" class="option">
            <ion-icon name="log-in-outline"></ion-icon>
            <span>Enregistrer achat hors ligne</span>
          </div>
        </div>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

<ion-footer *ngIf="selectedItem.length !=0">
  <ion-button  (click)="validate()" expand='full' class="gradient-btn" >  
    valider
  </ion-button>
</ion-footer>