<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="light" ><strong>Mon panier stock</strong></ion-title>
    <ion-buttons slot="end">
      <ion-button  >
        <ion-icon name="notifications" color="light" ></ion-icon>
      </ion-button>
      <ion-button  >
        <ion-icon name="ellipsis-vertical-outline" color="light" ></ion-icon>      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div *ngFor="let item of produit_panier" class="cart-element">
      <div class="left">
        <img [src]="item.img" alt="" srcset="">
        <div class="product-name">
          <span> {{item.name}} </span>
          <span class="buttons" (click)="openModal(item)" >
            <ion-badge>-</ion-badge>
            <strong> {{item.qty}} </strong>
            <ion-badge>+</ion-badge>
          </span>
        </div>
      </div>
      <div class="right">
        <strong class="amount" >{{item.amount}}</strong>
        <span (click)="delete(item)" class="delete"><ion-icon name="trash" ></ion-icon></span>
      </div>
    </div>
    <br><br>
    <div class="total">
      
      <ion-button (click) = "actualiser()" style="width: 80%;" class="outline-btn gradient-btn">Mettre à jour stock</ion-button>
    </div>
  </div>

</ion-content>
