



<ion-content>
  <div class="background">
    <div>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="type-client"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <h5>Création de compte</h5>
        <h3>Client : Hôtels</h3>
      </ion-title>
    </div>
  </div>
  <div id="container">
    <ion-progress-bar  value="0.8"></ion-progress-bar>

    <ion-list  >
      <ion-item lines="none" >
        <ion-label position="stacked" class="ion-no-border">Nom de l'Hôtel</ion-label>
        <ion-input [(ngModel)]="dataHotel.nom_hotel" type="text" placeholder="nom de l'hôtel"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Nom du gérant</ion-label>
        <ion-input [(ngModel)]="dataHotel.nom" type="text" placeholder="nom du gérant"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Numéro tel du gérant</ion-label>
        <ion-input [(ngModel)]="dataHotel.telephone_gerant" type="tel" placeholder="numéro tel du gérant"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Email du gérant</ion-label>
        <ion-input [(ngModel)]="dataHotel.email" type="email" placeholder="fxgerant@gmail.com"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">IFU</ion-label>
        <ion-input [(ngModel)]="dataHotel.ifu" type="number" placeholder="00 00 00 00 00 00 00 00"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Adresse de livraison</ion-label>
        <ion-button expand="block" id="btn-localisation" (click) = "presentAlertConfirm()">geolocaliser son hotel</ion-button>
      </ion-item>

      <br>

      <ion-item lines="none">
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input [(ngModel)]="dataHotel.password" type="password" placeholder="**********"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Confirmer le mot de passe</ion-label>
        <ion-input [(ngModel)]="dataHotel.password2" type="password" placeholder="**********"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="outline-btn gradient-btn" expand="block" (click)="soumettre()" >Créer le compte</ion-button>

    <span> {{errorMessage}} </span>

  </div>
</ion-content>


