<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vendeur-tabs/catalogue"></ion-back-button>
    </ion-buttons>
    <ion-title>Code de livraison</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center">
    <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
  
    <br>
    <span style="text-align: center;" >
      Merci de laisser le livreur capturer cette commande.
    </span>
  </div>
</ion-content>
