<ion-header>
  <ion-toolbar>
    <ion-title>Mon adresse</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" routerLink="/notifications-vendeur"></ion-icon>
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="map-wrapper">
    <div class="map-border">
      <div id="map" ></div>
    </div>
  </div>

</ion-content>
