<ion-content>
  <ion-slides #slides pager="false">
    <ion-slide>
      <div class="slide">
        <div class="bg">
          <img class="front-img" src="../../assets/illustration/client1.png">
          <img class="back-img" src="../../assets/images/Component.png" >
        </div>
        <div class="pager">
          <span class="active"></span>
          <span class=""></span>
          <span class=""></span>
        </div>
        <div class="text">
          <!-- <h2>Message de <br>bienvenue</h2> -->
          <p>Nul n’a le droit de vivre pour vivre, profitez de la vie édénique que vous offre X-DRINK.</p>
        </div>
        <div class="btn">
          <ion-button color="primary" class="outline-btn" routerLink="/load" fill="outline">SAUTER</ion-button>
        </div>
      </div>
      
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="bg">
          <img class="front-img" src="../../assets/illustration/vendeur1.png">
          <img class="back-img" src="../../assets/images/Component.png" >
        </div>
        <div class="pager">
          <span class=""></span>
          <span class="active"></span>
          <span class=""></span>
        </div>
        <div class="text">
          <!-- <h2>Message de <br>bienvenue</h2> -->
        <p>La vie sans X-DRINK reste une vie mais, mais notre vie avec lui est une merveilleuse
          vie. <br> Cliquez donc sur continuer !</p>
        </div>
        <div class="btn">
          <ion-button color="primary" class="outline-btn" routerLink="/load" fill="outline">SAUTER</ion-button>
        </div>
      </div>
     
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="bg">
          <img class="front-img" src="../../assets/illustration/liqueurs1.png">
          <img class="back-img" src="../../assets/images/Component.png" >
        </div>
        <div class="pager">
          <span class=""></span>
          <span class=""></span>
          <span class="active"></span>
        </div>
        <div class="text">
          <!-- <h2>Message de <br>bienvenue</h2> -->
        <p> Cliquez donc sur continuer, pour une surprise au-delà de vos attentes !</p>
        </div>
        <div class="btn">
          <ion-button class="gradient-btn" routerLink="/load" >CONTINUER</ion-button>
        </div>
      </div>
      
    </ion-slide>
  </ion-slides>

</ion-content>
