<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" [routerLink]="['/notifications']"></ion-icon>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
    <ion-title>Code vendeur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Bienvenue!</h1>
    <span>chez le vendeur</span>

    <div id="code">
      <p>Veuillez communiquez le code au vendeur</p>
      <div class="code-vendeur">
        <ul>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
        </ul>
      </div>
    </div>
    <ion-button routerLink="/confirmation">Confirmer la vente</ion-button>
  </div>
</ion-content>
