<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light" ><strong>Mon panier stock</strong></ion-title>
    <ion-buttons slot="end">
      <ion-button  >
        <ion-icon name="notifications" color="light" ></ion-icon>
      </ion-button>
      <ion-button  >
        <ion-icon name="ellipsis-vertical-outline" color="light" ></ion-icon>      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="validation">
    <div id="container">
      <p>Veuillez entrer le code de la commande </p>
      <div class="cases">
        <ion-input [(ngModel)]="code1" type="tel" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code2" type="tel" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code3" type="tel" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code4" type="tel" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code5" type="tel" maxlength = "1"></ion-input>
        <ion-input [(ngModel)]="code6" type="tel" maxlength = "1"></ion-input>

      </div>
      <span>{{message}}</span>
      <div class="footer-btn">
        <ion-button (click) = 'Servir()' class="outline-btn gradient-btn">Servir</ion-button>

      </div>
    </div>
  </div>
</ion-content>
