<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="code-vendeur"></ion-back-button>
    </ion-buttons>
    <ion-title>Vérification</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" [routerLink]="['/notifications']"></ion-icon>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentAlert()" routerLink="/livreur-tabs/geolocalisation">Valider la verification</ion-button>
</ion-content>
