<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-back-button defaultHref="vendeur-tabs/catalogue"></ion-back-button>
   </ion-buttons>
    <ion-title>Mes Statistiques</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" routerLink="/notifications-vendeur"></ion-icon>
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="ion-padding">
  <h1>Statistiques</h1>
  <ion-card>
   <ion-card-header class="ion-text-center">
    Gain
    <h1>3500</h1>
   </ion-card-header>
   <ion-card-content>
    <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
   </ion-card-content>
  </ion-card>
 </div>
</ion-content>
