

<ion-content>
    <div class="background">
        <div>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="type-vendeur"></ion-back-button>
          </ion-buttons>
          <ion-title>
            <h5>Création de compte</h5>
            <h3>Vendeur : Dépot marchand</h3>
          </ion-title>
        </div>
      </div>
 <div id="container">
  <ion-progress-bar  value="0.8"></ion-progress-bar>

  <ion-list>
   <ion-item lines="none">
    <ion-label position="stacked" class="ion-no-border">Nom du dépôt </ion-label>
    <ion-input [(ngModel)]="dataDepot.nom_depot" type="text" placeholder="nom du dépôt"></ion-input>
   </ion-item>
   <ion-item lines="none">
    <ion-label position="stacked">Nom du gérant</ion-label>
    <ion-input [(ngModel)]="dataDepot.nom" type="text" placeholder="nom du gérant"></ion-input>
   </ion-item>
   <ion-item lines="none">
    <ion-label position="stacked">Email du gérant</ion-label>
    <ion-input [(ngModel)]="dataDepot.email" type="email" placeholder="gerant@gmail.com"></ion-input>
   </ion-item>
   <ion-item lines="none">
    <ion-label position="stacked">Numéro tel du gérant</ion-label>
    <ion-input [(ngModel)]="dataDepot.telephone_gerant" type="tel" placeholder="numéro tel du gérant"></ion-input>
   </ion-item>

   <ion-item lines="none">
    <ion-label position="stacked">IFU <small>Optionnel</small></ion-label>
    <ion-input [(ngModel)]="dataDepot.ifu" type="number" placeholder="00 00 00 00 00 00 00 00"></ion-input>
   </ion-item>

   <ion-item lines="none">
    <ion-label  position="floating">Ville, quartier</ion-label>
    <ion-input [(ngModel)]="dataDepot.localisation_detail1" type="text" placeholder="cotonou, fifadji"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  position="floating">plus de details</ion-label>
    <ion-input [(ngModel)]="dataDepot.localisation_detail2" type="text" placeholder="premiere von apres le commissariat de fifadji"></ion-input>
  </ion-item>

   <ion-item lines="none">
    <ion-label position="stacked">Adresse de livraison</ion-label>
    <ion-button id="btn-localisation" (click) = "presentAlertConfirm()"  expand="block">geolocaliser son depot</ion-button>
   </ion-item>
   <br>
   <ion-item>
    <ion-label position="stacked">Mot de passe</ion-label>
    <ion-input [(ngModel)]="dataDepot.password" type="password" placeholder="**********"></ion-input>
   </ion-item>
   <ion-item lines="none">
    <ion-label position="stacked">Confirmer le mot de passe</ion-label>
    <ion-input [(ngModel)]="dataDepot.password2" type="password" placeholder="**********"></ion-input>
   </ion-item>
  </ion-list>
  <ion-button class="outline-btn gradient-btn" expand="block" (click) = "soumettre()">Créer le compte</ion-button>
  <span> {{errorMessage}} </span>
</div>

</ion-content>


