/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";


.map-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 10px;
}

.map-border {
  border: 1px solid orange;
  height: 500px;
}

#map {
  height: 500px;
}

ion-toolbar {
  img{
      height: 35px !important;
  }
}

ion-searchbar{
    --border-radius: 10px !important;
}

.content{
    padding: 10px;
}

.custom-select{
    border-radius: 7px;
    width: 150px;
    border: 1px solid #AEA9A9;
    margin-bottom: 15px;

}

.product-card{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid rgb(255, 233, 233);
    border-bottom: 2px solid var(--ion-color-secondary);
    text-align: center;
    margin: auto;
    margin-bottom: 15px;


    ion-icon{
        color: var(--ion-color-secondary);
    }
    .name-icon{
        display: flex;
        justify-content: space-between;
        padding-right: 5px;
        padding-left: 5px;
    }
    img{
        border-radius: 15px;
        height: 80%;
        width: 100%;
    }
    .product-name{
        color: var(--ion-color-secondary);
        font-size: 12px;

    }
}

.gradient-btn {
    border-radius: 7px !important;
    --background: transparent linear-gradient(180deg, #E6A930 0%, #E77F34 56%, #E85E37 100%) 0% 0% no-repeat padding-box !important;
    color: white !important;
}
.border-rad{
    border-radius: 10px !important;
}
.outline-btn{
    height: 50px;
    width: 200px;
    margin: auto !important;
}

.background{
    background: url('assets/images/Component.png') no-repeat 100% 100% !important;
    text-align: center;
    background-size: cover !important;
    width: 100%;
    h5{
      color: var(--ion-color-secondary);
    }
  }

  ion-toolbar{
    --background: var(--ion-color-secondary);
    color: white;
}

ion-avatar img{
    border-radius: 12px;
    height: 74px;
    width: 74px;
}

.cart-element{
    box-shadow: 0px 4px 4px #00000029;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .left{
        display: flex;
        align-items: center;
        img{
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
        .product-name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #6B6B6B;
            .buttons{
                display: flex;
                align-items: center;
            }
            ion-badge{
                border: 2px solid var(--ion-color-secondary);
                background-color: rgba(151, 75, 75, 0);
                box-shadow: 0px 1px 4px #00000029;
                border-radius: 6px;
                opacity: 1;
                margin: 5px;
                height: 25px;
                width: 25px;
                color: var(--ion-color-secondary);
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .amount{
            background: #E6A930 0% 0% no-repeat padding-box;
            border-radius: 0px 10px;
            padding: 9px;
            color: white;
            margin-bottom: 10px;
        }
        .delete{
            font-size: 20px;
        }
    }
}

.validation{
    ion-header ion-toolbar{
      --background: #FFE7E0;;
      --border-radius: 0 0px 32% 40%;
      --padding: 5%;
    }
    
    ion-back-button{
      --position: absolute;
      --top: 2%;
      --color: #E85E37;
     
    }
    ion-header h5{
      margin: 0 20% 0;
      color: #E85E37;
      font-size: 15px;
    }
    
    h3{
      font-weight: 700;
      text-align: center;
      letter-spacing: 1.5;
      margin: 15% 2%;
    }
    
    
    #container {
      text-align: center;
      margin: 10% 5%;
    }
    ion-progress-bar {
    
      --buffer-background: rgb(255 68 0 / 18%);
      --progress-background: #E85E37;
      border-radius: 15px;
      height: 7px;
    }
    .cases{
      display: flex;
      justify-content: center;
      padding: 20px;
  
      p{
        font-size: 12px;
        text-align: center;
        font-weight: 700;
      }
      ion-input{
        border: 1px solid grey;
        text-align: center;
        border-radius: 15px;
        height: 50px !important;
        width: 30px !important;
        line-height: 30px;
        margin: 5px;
  
      }
      ion-input:focus{
        border: 1px solid #E85E37;
        color: #E85E37;
      }
    }
  
    .footer-btn{
      margin-top: 100px;
    }
    ion-button{
      text-transform: uppercase;
      --background: linear-gradient(orange, #E85E37) !important;
      --border-radius: 10px;
      margin:  0 5%;
      font-weight: 400;
      margin: 32% 0 0 0;
      margin-top: 100px;
  
    }
    
    .footer{
        bottom: 10%;
        text-align: center;
  
        
       p{ 
        font-size: 10px !important;
        line-height: 22px !important;
        color: #000 !important;
      }
       strong{
        text-decoration: none;
        color: var(--ion-color-secondary);
      }
      }
  }

  // TABS
  .active{
    padding: 7px;
    border-radius: 7px;
    background: transparent linear-gradient(180deg, #E6A930 0%, #E77F34 56%, #E85E37 100%) 0% 0% no-repeat padding-box;
    color: white !important;
}

ion-tab-button {
    --color	: var(--ion-color-primary-shade);
    --color-focused	: yellow;
}

// panier


.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .total-left{
        .total-amount{
            font-size: 25px;
            margin-left: 10px;
            color: var(--ion-color-secondary);
        }
        .livreur{
            font-size: 20px;
            margin-left: 10px;
        }
    }

    ion-button{
        height: 50px;
        --border-radius: 12px;
        width: 100px;
    }

}

.livraison-modal{
  width: 70%;
  height: 300px;
  margin: auto;

  border-radius: 17px;
  box-shadow: 0px 1px 5px #0000001A;
}

.notif{
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background-color: green;
  position: relative;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}