<ion-content>

  <div class="background">
    <div>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="type-inscription"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <h5>Création de compte</h5>
        <h3>Livreur</h3>
      </ion-title>
    </div>
  </div>
    <div id="container">
      <ion-list>
        <ion-item lines="none">
          <ion-label position="stacked">Nom</ion-label>
          <ion-input [(ngModel)]="dataLivreur.nom" type="text" placeholder="Entrer votre nom"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Prénom</ion-label>
          <ion-input [(ngModel)]="dataLivreur.prenom" type="text" placeholder="Entrer votre prénom"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Numéro</ion-label>
          <ion-input [(ngModel)]="dataLivreur.numero" type="tel" placeholder="Numéro téléphone"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">email</ion-label>
          <ion-input [(ngModel)]="dataLivreur.email" type="email" placeholder="pseudo@gmail.com"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Carte d'identité</ion-label>
          <ion-input [(ngModel)]="dataLivreur.num_carte" type="text" placeholder="Numéro de la carte d'identité valide"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input [(ngModel)]="dataLivreur.password" type="password" placeholder="******"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Confirmer mot de passe</ion-label>
          <ion-input [(ngModel)]="dataLivreur.password2" type="password" placeholder="*******"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked" class="ion-no-border">Moyen de livraison </ion-label>
          <ion-select [(ngModel)]="dataLivreur.moyen_livraison"  placeholder="Moyen de ">
           <ion-select-option value="2Roues">2Roues</ion-select-option>
           <ion-select-option value="3Roues">3Roues</ion-select-option>
           <ion-select-option value="4Roues">4Roues</ion-select-option>
           <ion-select-option value="+4Roues">+4Roues</ion-select-option>
          </ion-select>
         </ion-item>
       
      </ion-list>
      <p class="footer-btn" >
        <ion-button class="outline-btn gradient-btn" expand="block" (click) = "submit()">Créer le compte</ion-button>
      </p>

        <span> {{errorMessage}} </span>
      
    </div>
  </ion-content>
  
  
  